<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/app.js"></script>

    <title>Vue Slider</title>
  </head>
  <body>
    <div id="root">
      <div class="slider">
        <div class="slider__images">
          <div
            v-for="image, i in imagesList"
            class="slider__single-image"
            :class="i === currentImageIndex ? 'active' : ''"
          >
            <img :src="image.url" :alt="`Panorama in ${image.title}`" />
            <div class="slider__text">
              <h3>{{ image.title }}</h3>
              <p>{{ image.text }}</p>
            </div>
          </div>
        </div>
        <div class="slider__thumbnails">
          <button @click="showPrevious()" class="btn btn--previous">
            <i class="fas fa-chevron-up btn__icon"></i>
          </button>
          <button @click="showNext()" class="btn btn--next">
            <i class="fas fa-chevron-down btn__icon"></i>
          </button>
          <div
            v-for="image, i in imagesList"
            class="slider__single-thumbnail"
            :class="i === currentImageIndex ? 'active' : ''"
          >
            <img :src="image.url" alt="Miniatura panorama in ${image.title}" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
